$width-tablet: 768px;

$color-black: #000000;
$color-black-olive: #403f3d;
$color-granite: #665f55;
$color-bone: #e1d4c9;
$color-anti-flash-white: #f0f0f0;
$color-iguana-green: #75b781;
$color-green: #5dad2c;
$color-dark-green: #3c741b;
$color-yellow: #e0c445;
$color-sandy-brown: #f0a658;
$color-pastel-yellow: #e09544;
$color-chinese-bronze: #ce802d;
$color-blue: #2b96c4;
$color-light-red: #e47272;
$color-red: #cf3030;
$color-dark-red: #a02323;


$font-primary: "Roboto", "Arial", sans-serif;
