$width-tablet: 768px;

$color-black: #000000;
$color-black-olive: #403f3d;
$color-granite: #665f55;
$color-bone: #e1d4c9;
$color-anti-flash-white: #f0f0f0;
$color-iguana-green: #75b781;
$color-green: #5eaa2f;
$color-sandy-brown: #f0a658;
$color-pastel-yellow: #e09544;
$color-chinese-bronze: #ce802d;
$color-teal-blue: #256985;
$color-error: #cf3030;

$font-primary: "Roboto", "Arial", sans-serif;
