@use "../../../../global-styles/forward" as *;

.login-field {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 22px;
}

.login-field__input {
  padding: 5px;
  font-family: $font-primary;
  font-size: 18px;
  line-height: 150%;
  font-weight: 400;
  color: $color-black-olive;
  border: 2px solid $color-granite;
  border-radius: 4px;

  .login-field--error & {
    border-color: $color-error;
  }
}

.login-field__error-text {
  font-size: 18px;
  white-space: pre;
  color: $color-error;
}
