@use "../../../../global-styles/forward" as *;

.main {
  display: grid;
  gap: 20px;
  width: 100%;
  max-width: 1080px;

  @media (width >= 1120px) {
    grid-template-columns: 30px 1fr;
  }
}

.main .main__button-pronounce {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 48px;
  margin: 0 auto;
  padding: 0;
  opacity: 0;
  cursor: pointer;
  transition:
    background-color 0.6s ease-out,
    color 0.6s ease-out,
    box-shadow 0.6s ease-out,
    opacity 0.6s ease-out;

  @media (width >= 1120px) {
    grid-column: 2;
  }

  &.main__button-pronounce--icon-on {
    background-color: $color-yellow;
    cursor: default;
  }

  &::before {
    content: "";
    width: 36px;
    height: 36px;
    background-color: $color-black-olive;
    background-repeat: no-repeat;
    transition: background-color 0.6s ease-out;
    mask-image: url("../../../../assets/icons/pronounce-off.svg");
  }

  &--icon-on::before {
    background-color: $color-black;
    mask-image: url("../../../../assets/icons/pronounce-on.svg");
  }

  &--opaque {
    opacity: 1;
  }
}

.main__translation {
  margin: 0 auto;
  padding: 5px 10px;
  text-align: center;
  color: $color-black;
  background-color: $color-iguana-green;
  border-radius: 10px;
  opacity: 0;
  transition: opacity 0.6s ease-out;

  @media (width >= 1120px) {
    grid-column: 2;
  }

  &--opaque {
    opacity: 1;
  }
}

.main__row-numbers {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  @media (width >= 1120px) {
    display: flex;
  }
}

.main__row-number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  font-size: 18px;
  background-color: $color-bone;
  border: 2px solid $color-granite;
  border-radius: 50%;
}

.main__board {
  display: flex;
  flex-direction: column;
  background-color: $color-bone;
  border-radius: 4px;
  box-shadow: 0 5px 10px 10px rgb(0 0 0 / 20%), inset 0 0 0 1px $color-granite;
}

.main__board,
.main__source {
  width: 728px;
  max-width: 1080px;

  @media (width >= 768px) {
    width: calc(100dvw - 40px);
  }

  @media (width >= 1120px) {
    width: 1030px;
  }
}

.main__row {
  display: flex;
  width: 100%;
  height: 40px;
}

.main__source {
  display: flex;
  grid-row: 4;
  justify-content: center;
  height: 40px;
  margin-inline: auto;

  &--start {
    width: 100%;
  }

  @media (width >= 1120px) {
    grid-column: 2;
  }
}

.main__source-place {
  min-width: 40px;
  background-color: $color-bone;
  box-shadow: inset 0 0 0 1px $color-granite;
  transition: width 0.6s ease-out, box-shadow 0.6s ease-out;

  .main__source--start & {
    flex-grow: 1;
  }
}

.main__row-place {
  flex-grow: 1;
  min-width: 40px;
  background-color: $color-blue;
  box-shadow: inset 0 0 0 1px $color-granite;
  transition: box-shadow 0.6s ease-out;

  &--full {
    flex-grow: 0;
  }
}

.main__card {
  flex-grow: 1;
  height: 100%;
}

.main__buttons-container {
  display: flex;
  gap: 40px;
  margin-inline: auto;

  @media (width >= 1120px) {
    grid-column: 2;
  }
}

.main .main__check-button {
  &:disabled {
    background-color: $color-bone;
  }
}

.main .drop-place {
  &--hover {
    box-shadow: inset 0 0 2px 2px $color-yellow;
  }
}
