@use "../../../global-styles/forward" as *;

.start-page__main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 740px;
  padding: 40px;
  font-size: 20px;
  text-align: center;
  background-color: $color-anti-flash-white;
  border-radius: 30px;
  box-shadow: 0 5px 10px 10px rgb(0 0 0 / 20%);
}

.start-page__title {
  margin-block: 0 0.5em;
  font-size: 64px;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  word-spacing: 10px;
  color: $color-black-olive;
}

.start-page__description {
  margin-block: 0 0.7em;
}

.start-page__greeting {
  margin-block: 0 1em;
}

.start-page__user {
  margin-block: 0 0.7em;
  font-weight: 700;
  text-decoration: underline;
  color: $color-green;
}

.start-page__logout-button {
  min-width: 200px;
  margin-inline: auto;
}
